
.login-container{
   
    height: 100%;
    width: 100%;
    .image-container{
        height: 100%;
        width: 100%;
        background-color: #4a4dc8;
    }
    .form-container{
        height: 100%;
        width: 100%;
        background-color: white;
       .google-login{
        cursor: pointer;
        height: 50px;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 10px 5px 5px rgb(234, 233, 233);
       }
       mat-form-field{
        width: 300px;
       }
    }
}
h2{
    font-weight: 800;
}
