<mat-card [class]="darkMode" class="chat-container">
<div *ngIf="isNoMessage" fxLayout="column" fxLayoutAlign="center center">
   <img height="100%" width="100%" src="../../../../assets/Images/unboxing.png" alt="">
   <!-- <h2 style="font-family: poppins;">No messages found!</h2> -->
</div>
<div fxLayout="column" class="chat-screen"  *ngIf="!isNoMessage">
   <div class="chat-header" fxLayout fxLayoutAlign="start center" fxLayoutGap="10px">
        <div  style="height:100%" fxLayoutAlign="center center">
         <img style="border-radius: 50%;" height="50px" width="50px" [src]="this.group_messages.image? this.group_messages.image : '../../../../assets/Images/no_dp.jpeg'" alt="" srcset="">
        </div>
        <div>
         <p>{{group_messages.name | titlecase}}</p>
        </div>
        
   </div>
   <div [class]="darkMode" fxLayout="column" fxLayoutAlign="start start" *ngFor="let message of group_messages['messages']" fxFlex="95" class="chat-space">
        <mat-card  fxLayout="column" fxLayoutAlign="start center" 
        fxFlex="100" *ngIf="message.uid == user_id" class="right-align">
         <span>{{message.content}}</span>  
        </mat-card>
        <mat-card fxFlex="100" *ngIf="message.uid != user_id" class="left-align">
         <div class="message-name">{{message.name}}</div> 
         <div>{{message.content}}</div>  
        </mat-card>
   </div>
   <div [class]="darkMode" fxFlex="5" fxLayoutGap="15px" fxLayout fxLayoutAlign="space-around center" class="chat-input">
      <button mat-mini-fab >
         <mat-icon>mood</mat-icon>
       </button>
         <input [class]="darkMode"  [(ngModel)]="current_message" placeholder="Type something..." fxFlex="90" type="text" >
         <div fxFlex="10" class="example-button-container">
            <button (click)="sendMessage()" mat-mini-fab>
              <mat-icon>send</mat-icon>
            </button>
          </div>
   </div>
</div>
</mat-card>