.chat-container{
    width: 97%;
    height: 97%;
    // border: 1px solid #927eeb;
    //box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    .chat-screen{
        height: 100%;
        overflow-y: scroll;
        .chat-space{
           flex: none !important;
           margin-bottom: 30px;
           position: relative;
           text-align: start;
        }
        .left-align,.right-align{
            border-radius: 10px;
            margin-bottom: 10px;
            font-family: poppins;
            padding: 10px !important;
            color: white;
            font-weight: bold;
        }

        .left-align{
            margin-left: 0;
            text-align: left;
            padding: 10px !important;
            background: linear-gradient(#927eeb,#7c9ef4);
        }
        .right-align{
            margin-bottom: 10px;
            margin-left: 85%;
            text-align: right;
            background: linear-gradient(#7c9ef4,#927eeb);
        }
        .chat-input{
            position: absolute;
            bottom: 0;
            height: 50px;
            margin: 20px 0px 10px 0px;
            width: 98%;
            
        }
        .message-name{
            font-size: 0.6rem;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
   .example-header-image{
    padding: 10px;

   }
   .mat-card-title{
    margin-top: 5%;
   }
   .chat-header{
    // background: linear-gradient(#927eeb,#7c9ef4);
    color: #927eeb;
   
    height: 70px;
    padding: 0px 10px;
    margin-bottom: 10px;
    font-family: poppins;
    font-weight: bold;
    font-size: 1.4rem;
    border-bottom : 1px solid lightgray;
   }
   mat-icon{
    margin: 0px;
   }
  button,.emoji{
    color: white;
    border-radius: 50%;
    
    background: linear-gradient(#927eeb,#7c9ef4);
   }
   
   
   
}
input{
    outline:none !important;
    height: 40px;
    width: 100%;
    border: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: poppins;
    font-weight: bolder;
}


