.chat-list-container{
   padding: 0px 5px 5px 10px;
   max-height: 95vh;
   overflow: scroll;
    .creat-group{
        color: white;
        background: linear-gradient(#927eeb,#7c9ef4);
    }
    mat-card{
        height: 70px;
        margin-top: 1%;
        font-family: poppins;
        .mat-card-title{
            font-weight: 900;
            
        }
        .mat-card-subtitle{
            font-weight: 800;
            color: gray;
            
        }
        .card-list{
               max-height: 100%;
        }
    }

    ::ng-deep .mat-card-header-text {
        width: 100% !important;
    }
}

.file-input{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
::ng-deep .mat-dialog-container {
    background: linear-gradient(#927eeb,#7c9ef4);
    border-radius: 20px;
    color: white;
    font-family: poppins;
    .mat-dialog-title{
        font-family: poppins;
        font-weight: bold;
    }
    mat-form-field{
        color: white;
    }
}
input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}
