.chat-list-container{
   padding: 0px 5px 0px 5px;
   max-height: 95vh;
   border-radius: 10%;
   overflow: scroll;
   width: 100%;
   transition-delay: 10s;
    .creat-group{
        color: white;
        margin-top: 10px;
        border-bottom: white 2px solid;
        // background: linear-gradient(#927eeb,#7c9ef4);
    }
    mat-card{
      
       background-color: transparent;
       color: white;
       border-right: 1px solid white;
       border-bottom: 1px solid white;
        cursor: pointer;
        height: 60px;
        border-radius: 10px !important;
        margin-bottom: 4%;
        font-family: poppins;
        .mat-card-title{
            font-weight: 900;
            
        }
        .mat-card-subtitle{
            font-weight: 800;
            color: white;
            
        }
       
    }
    mat-card:hover{
        transform: scale(1.02);
        transition: 1s;
    }
    
   

    ::ng-deep .mat-card-header-text {
        width: 100% !important;
    }
}

.file-input{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
::ng-deep .mat-dialog-container {
    background: linear-gradient(#927eeb,#7c9ef4);
    border-radius: 20px;
    color: white;
    font-family: poppins;
    .mat-dialog-title{
        font-family: poppins;
        font-weight: bold;
    }
    mat-form-field{
        color: white;
    }
}
input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}
::ng-deep example-header-image{
    // height: 100px;
    // width: 100px;
    border-radius: 50%;
 }
