<mat-card class="chat-list-container" fxLayout="column">
  <mat-card class="creat-group" (click)="creatChat()" fxLayout fxLayoutAlign="space-between center">
    
    <span style="font-weight: bolder;">
      Create Group</span>
   <mat-icon>navigate_next</mat-icon>
  </mat-card>
<div style="width: 100%;" class="card-list"   (click)="setIndex(i)" *ngFor="let card of cards; let i = index" [class.active]="selectedIndex === i"  >
  <mat-card style="width: 100%;" class="chat-card" (click)="selectChat(card.uid)"  fxLayoutAlign="start center" fxLayoutGap="10px"> 
          <div class="chat-avatar">
            <img style="border-radius: 50%;" width="50px" height="50px" [src]="card.image != '' ? card.image : '../../../../assets/Images/no_dp.jpeg' " 
            alt="" srcset="">
          </div>
          <div style="width: 100%;" class="chat-body" fxLayout="column" fxLayoutAlign="start start">
                <div class="title">
                 <h2> {{card.name | titlecase}}</h2>
                </div>
                <div style="width: 100%;" class="content" fxLayout>
                  <div fxFlex="75" *ngIf="card.last_message">{{card.last_message.name | slice : 0:8}} : {{ card.last_message.content.length > 20 ? (card.last_message.content | slice : 0:17) + '...' : card.last_message.content }}</div> 
                  <div fxFlex="25" *ngIf="card.last_message">{{calculate_last_seen(card.last_message.createdAt.toDate())}} days ago</div>
                </div>
          </div>

      </mat-card>
</div>

</mat-card>

<!-- <mat-card (click)="selectChat(card.uid)" class="example-card">
  <mat-card-header style="width: 100%;">
    <div mat-card-avatar class="example-header-image">
      <img style="border-radius: 50%;" width="50px" height="50px" [src]="card.image != '' ? card.image : '../../../../assets/Images/no_dp.jpeg' " 
      alt="" srcset="">
    </div>
    
    <mat-card-title>
      {{card.name | titlecase}}</mat-card-title>
    <mat-card-subtitle style="width: 100%;" fxLayout fxLayoutAlign="space-between center">
     <p *ngIf="card.last_message" >{{card.last_message.content}}</p> 
     <p *ngIf="card.last_seen">{{card.last_seen}}</p>
  </mat-card-subtitle>
  </mat-card-header>
  
</mat-card> -->