.chat-list-container{
    mat-card{
        height: 70px;
        margin-top: 1%;
        font-family: poppins;
        .mat-card-title{
            font-weight: 900;
            
        }
        .mat-card-subtitle{
            font-weight: 800;
            color: gray;
            
        }
    }

    ::ng-deep .mat-card-header-text {
        width: 100% !important;
    }
}
