<div class="chat-list-container">
  <mat-card class="creat-group" (click)="creatChat()" fxLayout fxLayoutAlign="space-between center">
    
    <span style="font-weight: bolder;">Create Group</span>
   <mat-icon>navigate_next</mat-icon>
  </mat-card>
<div class="card-list" *ngFor="let card of cards" >
    <mat-card (click)="selectChat(card.uid)" class="example-card">
        <mat-card-header style="width: 100%;">
          <div mat-card-avatar class="example-header-image">
            <img width="50px" height="50px" [src]="card.image != '' ? '' : '../../../../assets/Images/no_dp.jpeg' " 
            alt="" srcset="">
          </div>
          
          <mat-card-title>
            {{card.uid}}</mat-card-title>
          <mat-card-subtitle style="width: 100%;" fxLayout fxLayoutAlign="space-between center">
           <p >{{card.last_message != undefined ? card.last_message.content : '' }}</p> 
           <p>{{card.last_seen}}</p>
        </mat-card-subtitle>
        </mat-card-header>
        
      </mat-card>
</div>

</div>
